<a href="https://colab.research.google.com/github/suryoadig12/PACMANN_SKILL100/blob/main/Basic%20Python%20Programming/2.2%20A%20Good%20First%20Program%3A%20More%20Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan #1-3 - More Printing!**

**Printing - Lebih Detail**

Setelah sebelumnya kita telah belajar mengenai variabel, maka sekarang kita akan belajar bagaimana caranya menampilkan isi dari variabel yang telah kita buat sebelumnya.

In [1]:
# Misalkan kita telah membuat sebuah variabel yang menyimpan nama lengkap dan ingin menampilkan isinya.

nama_lengkap = "Antony Dos Santos"
print(nama_lengkap)

Antony Dos Santos

In [2]:
# Misalkan kita telah membuat sebuah variabel dan ingin menampilkan isinya

text = "Saya sedang belajar bahasa pemrograman python"
print(text)

Saya sedang belajar bahasa pemrograman python

Apabila kita menjalankan kedua code di atas, maka akan menampilkan isi dari variabel yang telah kita buat.

Sekarang ayo coba latihan! Coba tampilkan isi dari variabel di bawah ini menggunakan perintah printing variabel!

`teks = "Saya sedang belajar printing!"`

In [3]:
# Coba code disini

teks = "Saya sedang belajar printing!"
print(teks)

Saya sedang belajar printing!

**Exercise**

Buatlah sebuah variabel yang berisi tempat lahir Anda, kemudian tampilkan isinya!

In [4]:
# Coba code disini

tempat_lahir = "Madiun"
print(tempat_lahir)

Madiun

**Printing menggunakan Pemformatan (Formatting)**



*   Di dalam bahasa pemrograman Python terdapat metode printing menggunakan pemformatan (formatting).
*   Ada dua cara atau style formatting di Python:

    *   Style lama (menggunakan tanda persen %)
    *   Style baru (menggunakan metode format())

**Printing menggunakan %-formatting**



*   Metode printing ini merupakan style lama yang digunakan dalam pemformatan (formatting).
*   Printing menggunakan metode ini terbagi atas 2, yakni:

    *   %s : digunakan untuk melakukan print pada teks
    *   %d : digunakan untuk melakukan print pada angka

In [5]:
# Misalkan kita ingin melakukan print pada beberapa nama

nama1 = "Rima"
nama2 = "Budi"
print("Hello, %s" % nama1)
print("Hello, %s" % nama2)

Hello, Rima
Hello, Budi

In [6]:
# Misalkan kita ingin melakukan print pada beberapa angka

angka1 = 21
angka2 = 20
print("Inilah adalah angka %d" % angka1)
print("Inilah adalah angka %d" % angka2)

Inilah adalah angka 21
Inilah adalah angka 20

**Exercise**

Apakah output yang akan dihasilkan dari potongan code di bawah ini?



*   nama = "Budi"

*   umur = 22
*   print("Halo, saya %s. Saya berumur %s tahun." % (nama, umur))

In [8]:
# Coba code disini

nama = "Budi"
umur = 22
print("Halo, saya %s. Saya berumur %s tahun." % (nama, umur))

Halo, saya Budi. Saya berumur 22 tahun.

**Printing menggunakan f-string**



*   Metode printing ini merupakan style baru yang digunakan dalam pemformatan.

*   Metode ini memungkinkan kita untuk menyisipkan nilai suatu variabel ke dalam string.

*   Hal ini lebih efisien dilakukan daripada kita menggabungkan string menggunakan tanda koma atau tanda tambah (concatenation).
*   Komponen yang dibutuhkan untuk menggunakan f-string adalah `f` dan curly bracket `{}`


*   Sehingga, untuk menggunakan f-string cara nya adalah:


          *   print(f"ini adalah contohnya {NAMA_VAR}")

In [9]:
# Contoh
nama = "Budi"
umur = 22

# Versi lama
print("Halo, saya %s. Saya berumur %s tahun." % (nama, umur))

# Versi baru
print(f"Halo, saya {nama}. Saya berumur {umur} tahun.")

Halo, saya Budi. Saya berumur 22 tahun.
Halo, saya Budi. Saya berumur 22 tahun.

**Exercise**

Kita berbelanja bahan makanan di supermarket. Berikut merupakan harga bahan makanan yang dibeli:



*   Ayam adalah 15000

*   Bumbu 10000
*   beras 50000


*   Total belanjanya adalah 160000

Cobalah masukkan angka tersebut ke dalam variabel, kemudian print menggunakan f-string untuk semua variabel!

In [10]:
# Coba code disini

ayam = 15000
bumbu = 10000
beras = 50000
total_belanja = 160000

print(f"Kita berbelanja ayam seharga {ayam}, bumbu seharga {bumbu}, beras seharga {beras}. Total harga belanjaannya adalah {total_belanja}")

Kita berbelanja ayam seharga 15000, bumbu seharga 10000, beras seharga 50000. Total harga belanjaannya adalah 160000