<a href="https://colab.research.google.com/github/suryoadig12/PACMANN_SKILL100/blob/main/Basic%20Python%20Programming/2.4%20A%20Good%20First%20Program%3A%20Python%20Error.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan #1-5 - Error**

**Error and How to solve**



*   Pada sesi ini, kita akan belajar mengenai error dan bagaimana cara mengatasinya.

*   Error merupakan hal yang wajar ditemui saat sedang membuat sebuah pemrograman.
*   Melalui error jugalah kita semakin banyak belajar dan semakin memahami code yang telah kita buat.

Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:



*   Perhatikan error outputnya

*   Cobalah untuk googling mengenai error tersebut
*   Kemudian cobalah code yang telah digoogling sebelumnya


*   Apabila masih belum solve, cobalah untuk googling kembali

Ada beberapa jenis error yang sering dialami, yakni:



*   Syntax Error

*   Indentation Error
*   Name Error

**Syntax Error**

Syntax Error merupakan error yang terjadi karena adanya kesalahan syntax dalam code yang telah dibuat.

In [1]:
PRINT("Hello World!"):

SyntaxError: invalid syntax (<ipython-input-1-dcd61191019f>, line 1)



*   Apabila kita menjalankan code diatas, maka kita akan mendapatkan error.

*   Perhatikan output error yang ditampilkan.

*   Dalam hal ini, error outputnya ialah `invalid syntax`.
*   Error ini terjadi karena code yang kita tulis tidak sesuai dengan syntax yang seharusnya.


*   Syntax untuk menampilkan suatu text atau melakukan printing adalah sebagai berikut: `print("<TEXT YANG INGIN DITAMPILKAN>")`

**Exercise**



1.   Apakah perintah di bawah ini dapat dijalankan tanpa error?


        *   Print("Hello World!")


2.   Apakah perintah di bawah ini dapat dijalankan tanpa error?


        *   print('Hello World!')

In [2]:
# Untuk pertanyaan nomor 1, coba code disini

Print("Hello World!")

NameError: name 'Print' is not defined

In [3]:
# Untuk pertanyaan nomor 2, coba code disini

print('Hello World!')

Hello World!

**Indentation Error**

Indentation Error merupakan error yang terjadi karena adanya kesalahan pada indentasi.

In [4]:
print("ini adalah code baris 1")
    print("ini adalah code baris 2")
print("ini adalah code baris 3")

IndentationError: unexpected indent (<ipython-input-4-ed7c5ebc0470>, line 2)



*   Apabila kita menjalankan code diatas, maka kita akan mendapatkan error.

*   Perhatikan output error yang ditampilkan.

*   Dalam hal ini, error outputnya ialah `unexpected indent`.
*   Hal ini dikarenakan adanya kesalahan yang kita lakukan pada indentasi.


*   Lalu bagaimana cara untuk menyelesaikannya?


*   Dalam hal ini, kita dapat memberikan level indentasi yang sama untuk setiap perintahnya.

In [5]:
# Cobalah code yang benar di bawah ini

print("ini adalah code baris 1")
print("ini adalah code baris 2")
print("ini adalah code baris 3")

ini adalah code baris 1
ini adalah code baris 2
ini adalah code baris 3

**Name Error**

Name Error merupakan error yang biasanya terjadi karena adanya kesalahan pada nama variabel yang kita gunakan.

**Case Study**

Rima merupakan seorang anak yang sangat hemat. Namun, suatu ketika dirinya merasa boros dan akhirnya Rima pun me-list pengeluarannya minggu ini dan didapat hasil sebagai berikut:



*   Baju: 200.000

*   Tumblr: 75.000
*   Tas: 150.000


Berapakah total biaya yang telah dikeluarkan oleh Rima dalam minggu ini?

In [6]:
baju = 200000
tumblr = 75000
tas = 150000
totalPengeluaran = 425000

print(total_pengeluaran)

NameError: name 'total_pengeluaran' is not defined



*   Apabila kita menjalankan code diatas, maka kita akan mendapatkan error.

*   Perhatikan output error yang ditampilkan.

*   Dalam hal ini, error outputnya ialah name 'total_pengeluaran' is not defined.
*   Hal ini dikarenakan kita salah memanggil nama variabel.


*   Dalam code diatas kita memanggil variabel total_pengeluaran yang mana variabel ini belum diinisiasikan sebelumnya. Atau dengan kata lain kita belum pernah membuat variabel ini sebelumnya. -Seharusnya kita memanggil variabel totalPengeluaran agar program dapat berjalan dengan baik dan kita tidak mendapatkan error.

In [7]:
# Cobalah code yang benar di bawah ini

baju = 200000
tumblr = 75000
tas = 150000
totalPengeluaran = 425000

print(totalPengeluaran)

425000

Sekarang ayo latihan!



*   nama = "Bill Gates"
*   print(name)

Cobalah code ini di bawah dan cobalah untuk menyelesaikan errornya!

In [8]:
# Coba code di sini

nama = "Bill Gates"
print(name)

NameError: name 'name' is not defined

In [9]:
# Cobalah code yang benar di bawah ini

nama = "Bill Gates"
print(nama)

Bill Gates

**Exercise**

Lakukanlah latihan di bawah ini!



*   bilangan1 = 20

*   bilangan2 = 30
*   jumlahBilangan = 50

print(jumlah_bilangan)

Apakah syntax ini akan error atau tidak? Jika mengalami error, coba benarkan code tersebut!

In [10]:
# Cobalah code di bawah ini

bilangan1 = 20
bilangan2 = 30
jumlahBilangan = 50
print(jumlah_bilangan)

NameError: name 'jumlah_bilangan' is not defined

In [11]:
# Cobalah code yang benar di bawah ini

bilangan1 = 20
bilangan2 = 30
jumlahBilangan = 50
print(jumlahBilangan)

50