<a href="https://colab.research.google.com/github/suryoadig12/PACMANN_SKILL100/blob/main/Basic%20Python%20Programming/3.%20Primitive%20Data%20Structure%3A%20Primitive%20Data%20Structure%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan 2-1 - Primitive Data Structure on Python**

**1. Primitive Data Structure**

Struktur data adalah cara mengatur dan menyimpan data sehingga dapat diakses dan diolah dengan efisien. Ada dua jenis struktur data pada Python yaitu **primitive data structure** dan **non-primitive data structure** (**composite data structure**). Pada kesempatan kali ini kita akan membahas **primitive data structure**.

Secara umum, Python memiliki empat struktur data primitif:



*   **Integer**

*   **String**
*   **Float**


*   Boolean (akan dibahas pada pertemuan selanjutnya)

Kenapa dinamakan primitif? karena berisi nilai data yang murni dan sederhana.

**Integer**

Integer mewakilkan **bilangan bulat** dari negatif hingga positif, contohnya -3, -2, 3, 4, dst.

Semisal, kita akan mencoba melakukan print angka 1.

In [1]:
# Coba kita print angka 1

print(1)

1

Untuk mengetahui **tipe data sebuah karakter** di cek dengan cara:


        *   type(VALUE)

In [2]:
# Jalankan code dibawah
# Coba cek tipe data angka 6

print(type(6))

<class 'int'>

Kita juga bisa mengetahui **tipe data dari sebuah variabel** dengan cara:



        *   type(NAMA_VAR)

In [3]:
# Jalankan code dibawah

int_1 = 1
print(type(int_1))

<class 'int'>

In [4]:
# Coba cek tipe data variabel int_2 dibawah

int_2 = 23
print(type(int_2))

<class 'int'>

In [5]:
# Coba buatlah variabel untuk menampung angka 100000
# kemudian cek tipe datanya

num = 100000
print(type(num))

<class 'int'>

**Float**

Float adalah singkatan dari **floating point number**. Float mewakilkan bilangan rasional yang biasanya diakhiri dengan **angka desimal**, seperti 2.5, 3.14, 10.5 dsb.

Semisal, kita akan mencoba melakukan print angka **3.14**

Untuk desimal di Python menggunakan titik `.`, bukan koma `,` sebagai pemisahnya.

In [6]:
# Coba kita print angka 3.14

print(3.14)

3.14

Jika anda kurang yakin bahwa bilangan tersebut memiliki tipe data float bisa anda cek dengan cara:


        *   type(VALUE)

In [7]:
# Coba jalankan code dibawah

print(type(3.14))

<class 'float'>

Kita juga bisa mengetahui tipe data sebuah variabel dengan cara:



        *   type(NAMA_VAR)

In [8]:
# Coba cek tipe data dari variabel pi dibawah

pi = 3.14
print(type(pi))

<class 'float'>

In [9]:
# coba cek tipe data variabel float_1

float_1 = 4.6
print(type(float_1))

<class 'float'>

In [10]:
# Coba buatlah variabel untuk menampung angka 90.001
# Kemudian cek tipe data variabel tersebut

angka = 90.001
print(type(angka))

<class 'float'>

**Operasi Matematika Pada Python**

Operator adalah simbol khusus yang mewakili perhitungan seperti penambahan dan pengurangan.

![lasdjfl.JPG]()

**Pertambahan**

Operator tambah `(+)` akan menambahkan nilai di kedua sisi operator.

Silahkan lakukan operasi pertambahan 1 **ditambah** 1.

In [11]:
# Coba isi titik - titik dibawah ini dengan operator tambah

print(1+1)

2

Silahkan lakukan operasi pertambahan 23 **ditambah** 29.

In [12]:
# Coba keluarkan hasil pertambahannya

print(23+29)

52

Kita juga bisa melakukan pertambahan dengan menggunakan variabel.

In [13]:
# Coba isi titik-titik dibawah ini dengan operator tambah

num_1 = 7
num_2 = 4
print(num_1+num_2)

11

In [14]:
# Buatlah 2 variabel untuk menampung angka 3 dan 9
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Kemudian jumlahkan kedua variabel tersebut

num_1 = 3
num_2 = 9
print(num_1+num_2)

12

**Pengurangan**

Operasi kurang `(-)` akan mengurangi nilai sebelah kiri operator sebesar nilai sebelah kanan.

Silahkan lakukan operasi pengurangan 2 **dikurangi** 1.

In [15]:
# Coba lengkapi code di bawah ini

print(2-1)

1

Silahkan lakukan operasi pengurangan 10 **dikurangi** 3.

In [16]:
# Coba isi titik titik dibawah dan keluarkan hasil pengurangannya

print(10-3)

7

Kita juga bisa melakukan pengurangan dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [17]:
# Coba isi titik-titik dibawah ini dengan operator pengurangan

sub_1 = 4
sub_2 = 3
print(sub_1-sub_2)

1

In [18]:
# Coba buatlah 2 variabel untuk menampung angka 18 dan 13
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi pengurangan 18 - 13 dengan variabel yang telah dibuat

num_1 = 18
num_2 = 13
print(num_1-num_2)

5

**Perkalian**

Simbol kali `(*)` akan mengalikan nilai di kedua sisi operator

Silahkan lakukan operasi perkalian 2 **dikali** 3.

In [19]:
# Coba lengkapi titik - titik dibawah ini dengan operator kali

print(2*3)

6

Silahkan lakukan operasi perkalian 10 **dikali** 20.

In [20]:
# Coba ketik dan keluarkan hasil operasinya

print(10*20)

200

Kita juga bisa melakukan perkalian dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [21]:
# Coba isi titik-titik dibawah ini dengan operator kali

mark_1 = 8
mark_2 = 7
print(mark_1*mark_2)

56

In [22]:
# Coba buatlah 2 variabel untuk menampung angka 5 dan 8
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi perkalian pada dua variabel tersebut

num_1 = 5
num_2 = 8
print(num_1*num_2)

40

**Pembagian**

Operator bagi `(/)` akan membagi angka disebelah kiri dengan angka sebelah kanan operator.

Silahkan lakukan operasi pembagian 4 **dibagi** 2.

In [23]:
# Coba lengkapi titik - titik dibawah ini dengan operator pembagian

print(4/2)

2.0

Silahkan lakukan operasi pembagian 25 **dibagi** 5

In [24]:
# Coba keluarkan hasil pembagiannya

print(25/5)

5.0

Kita juga bisa melakukan pembagian dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [25]:
# Coba isi titik-titik dibawah ini dengan operator bagi

div_1 = 63
div_2 = 9
print(div_1/div_2)

7.0

In [26]:
# Buatlah 2 variabel untuk menampung angka 27 dan 3
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi pembagian 27 dibagi 3 dengan variabel yang sudah dibuat

num_1 = 27
num_2 = 3
print(num_1/num_2)

9.0

**Mini Exercise**

Sebagai seorang Analyst, anda ingin mengetahui rata-rata penjualan toko selama 3 bulan. datanya sebagai berikut:

![aldfjlas.JPG]()

Berapakah rata-rata pendapatan penjualan toko anda selama tiga bulan?

In [28]:
# Jawab disini

bulan_1 = 2578500
bulan_2 = 2867400
bulan_3 = 3100600
rata_rata = (bulan_1+bulan_2+bulan_3)/3
print(rata_rata)

2848833.3333333335

**Floor Division**

Floor division berarti **membagi dan membulatkan ke bawah** ke bilangan bulat terdekat.

Jika pembagian biasa, contohnya `7 / 2 = 3.5` maka floor devision akan membulatkan ke bawah ke bilangan bulat terdekat, berarti `7 // 2 = 3`.

Silahkan lakukan operasi 7 **floor division** 2.

In [29]:
# Lengkapi titik - titik dibawah ini dengan operasi floor division

print(7//2)

3

Silahkan lakukan operasi 8 **floor division** 3.

In [30]:
# Coba keluarkan hasil pembagiannya

print(8//3)

2

Kita juga bisa melakukan operasi floor devision dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [31]:
# Lengkapi titik-titik dibawah ini dengan operasi floor division

fDivision_1 = 33
fDivision_2 = 9
print(fDivision_1//fDivision_2)

3

In [32]:
# Buatlah 2 variabel untuk menampung angka 15 dan 4
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi 15 floor devision 4 dengan variabel yang sudah dibuat

num_1 = 15
num_2 = 4
print(num_1//num_2)

3

**Modulo (Sisa Bagi Hasil)**

Mungkin anda berpikir kalau simbol `%` artinya adalah persen. Namun pada Python ini disebut **Modulo**.

Misalnya, anda memiliki 5 apel dan akan dibagikan ke dua teman anda. Jika setiap orang mendapatkan apel utuh dalam jumlah yang sama, berapa sisa apel anda?

Silahkan lakukan operasi 5 **modulo** 2.

In [33]:
# Coba lengkapi titik - titik dibawah ini dengan operasi modulo

print(5%2)

1

Silahkan lakukan operasi 17 **modulo** 3.

In [34]:
# Coba keluarkan hasil operasi modulo dibawah

print(17%3)

2

Kita juga bisa melakukan operasi modulo dengan variabel yang dimiliki atau anda buat sendiri.

In [35]:
# Coba lengkapi titik-titik dibawah ini dengan operasi modulo

mod_1 = 44
mod_2 = 7
print(mod_1%mod_2)

2

In [37]:
# Coba buatlah 2 variabel untuk menampung angka 64 dan 6
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi 64 modulo 6 dengan variabel yang sudah dibuat

num_1 = 64
num_2 = 6
print(num_1%num_2)

4

**Pangkat**

Operasi **pangkat** pada Python dilambangkan dengan `**`.

Silahkan lakukan operasi 3 **pangkat** 2

In [38]:
# Coba lengkapi titik - titik dibawah ini dengan operasi pangkat

print(3**2)

9

Silahkan lakukan operasi 4 **pangkat** 4.

In [40]:
# Coba keluarkan hasil operasi pangkat

print(4**4)

256

Kita juga bisa melakukan operasi pangkat dengan variabel yang kita miliki atau buat sendiri.

In [41]:
# Coba lengkapi titik-titik dibawah ini dengan operasi pangkat

mark_1 = 2
mark_2 = 9
print(mark_1**mark_2)

512

In [42]:
# Coba buatlah 2 variabel untuk menampung angka 7 dan 4
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi 7 pangkat 4 dengan variabel yang sudah dibuat

num_1 = 7
num_2 = 4
print(num_1**num_2)

2401

**Mini Exercise**

Doni membeli 2 kotak Martabak Manis. Didalam 1 kotak, Martabak Manis dipotong menjadi 10 bagian. Doni kemudian menyantapnya bersama 6 orang temannya. Jika setiap orang mendapat jumlah yang sama. Berapakah sisa Martabak Manis di dalam kotak?

In [43]:
martabak_manis = 20
juml_org = 7
sisa_martabak = martabak_manis%juml_org
print(sisa_martabak)

6

**Exercise**

Pak Hartono agak kesal karena harga BBM naik dari Rp 7650 per liter menjadi Rp 10000 per liter. Jika sebelumnya beliau membeli Rp 20000 sudah full tank, berapa liter yang harus dibayar Pak Hartono jika mengisi full tank dengan harga yang baru?

In [46]:
# Statement variabel yang diketahui
harga_bbm_lama = 7650
harga_bbm_baru = 10000
harga_fulltank_lama = 20000

# Pertama, mencari kapasitas tangki dari pembagian antara harga full tank yang lama dengan harga BBM yang lama
kapasitas_tangki = harga_fulltank_lama/harga_bbm_lama

# Kemudian setelah diketahui kapasitas tangki, hitung harga full tank yang baru
harga_fulltank_baru = harga_bbm_baru*kapasitas_tangki

print(kapasitas_tangki)
print(harga_fulltank_baru)

2.6143790849673203
26143.7908496732

Putra bekerja di sebuah perusahaan swasta. Beliau mendapatkan gaji tahunan sebesar Rp 160 juta dan dibayarkan setiap dua minggu. Jika dalam satu tahun gaji tersebut dibayarkan sebanyak 26 kali, berapakah gaji yang di dapatkan Putra selama dua minggu?

In [49]:
gaji_pertahun = 160_000_000
dibayarkan = 26

gaji_duaminggu = gaji_pertahun/dibayarkan

print(gaji_duaminggu)

6153846.153846154